@import '../foundation/settings/custom_settings';

.wp-pagenavi {
    clear: both;

    a, 
    span {
        color: $primary-color;
        text-decoration: none;
        background-color: $primary-color;;
        border: 1px solid $secondary-color;;
        padding: 5px 5px;
        margin: 2px;
    }

    a:hover, 
    span.current {
        border-color: $primary-color;
        background-color: $primary-color;;
    }
    
    span.current {
        font-weight: bold;
        background-color: $primary-color;
    }
}

.navigation { 
    li a,
    li a:hover,
    li.active a,
    li.disabled {
        color: $primary-color;
        text-decoration:none;
    }
    li {
        display: inline;
    }

    li a,
    li a:hover,
    li.active a,
    li.disabled {
        background-color: $primary-color;;
        border-radius: 3px;
        cursor: pointer;
        padding: 12px;
        padding: 0.75rem;
    }
    
    li a:hover,
    li.active a {
        background-color: $primary-color;
    }
}  

/*icon styles*/
.fi-social-facebook {
    color: dodgerblue;
    font-size: 2rem;
}
.fi-social-youtube {
    color: red;
    font-size: 2rem;
}
.fi-social-pinterest {
    color: darkred;
    font-size: 2rem;
}
i.fi-social-instagram {
    color: brown;
    font-size: 2rem;
}
i.fi-social-tumblr {
    color: navy;
    font-size: 2rem;
}
.fi-social-twitter {
    color: skyblue;
    font-size: 2rem;
}


.top-bar {
    color: $main-light;

	.hmbgr-menu {
        display:inline-block;
        position: relative;
        top: -24px;
    }
    .branding {
        display:inline-block;
    }

    .site-description, .site-title a {
        color: $main-light;
    }

    a {
        color: $main-light;
        &:active, &:hover, &:visited {
            color: $main-light;   
            text-decoration: underline;
        }
    }

    .site-title a {
        font-size: 32px;
    }

    #search-form{
        
        #search-input {
            width: 80px;
        }

        .search-submit {
            // @extend .fi-magnifying-glass;
        }
    }

    .dropdown.menu {
        li.is-active a {
            color: #fff;
        }
    }

    .sub-menu, .submenu {
        top: 40px;
        left: 0;
        margin-left: 0;
        li {
            list-style: none;
        }
    }
}

.post-thumbnail {
    background-color: $primary-color;
    color: $main-light;
    &.no-thumb {
        background-color: $primary-color;
        // display: inline-block;
        color: $main-light;
        // height: 100%; 
        width:100%;
        span {
            color: $main-light;
        }
    }
}