button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__border-button;
	border-radius: 3px;
	background: $button-background;
	color: $button-color;
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:hover {
		background-color: $button-background-hover;
	}

	&:active,
	&:focus {
		background-color: $button-background-hover;
	}
}
